$screen-sm: 768px;
$screen-lg: 980px;

$gray-base:              #000 !default;
$gray:                   lighten($gray-base, 33.5%) !default; // #555

$body-bg:               white !default;
$text-color:            $gray-base !default; // changed from gray-dark
// Grid settings
$main-sm-columns:       12;
$sidebar-sm-columns:    4;

// Colors
$brand-primary:			rgb(90,48,77);    // purple #5a304d
$brand-primary-muted1:  rgb(170,148,161); // mid-purple #aa94a1
$brand-primary-muted2:	rgb(206,194,200); // light-purple

$brand-secondary: 		rgb(66,138,71);   // afgreen #428a47;
$front-green:			rgb(233,233,224); // muted green for front page

$afradius:				10px;

$v-rhythm:              20px;

.resto-index {
    color: $brand-primary-muted1;
}
h4 {
    margin-bottom: 0 !important;
    margin-top: 2px;
    a {
        color: black;
    }
    .cuisine {
        font-size: 12px;
    }
}
.meta {
    display: flex;
    .recommended-container {
        height: 3em;
        img {
            height: 100%;
        }
    }
}
.scores {
    // display: flex;
    // justify-content: space-between;
    font-size: 18px;
    .price {
        margin-left: 15px;
    }
    .booknow {
        margin-left: 15px;
        font-size: 16px;
    }
}


.recommended {  // 'af recommended' 'button'
    font-style: italic;
    font-weight: 400;
    color: #fff;
    // font-size: 90%;
    // background-color: $brand-primary;
    color: $brand-primary;
    border: 1px dotted $brand-primary-muted1;
    border-radius: 10px;
    padding: 4px 7px 1px 7px;
}
// string-fill {
//     font-size: 18px;
//     color: $brand-primary;
//     font-weight: normal;
//     display: inline;
//     margin-right: 20px;
// }
.comment {
    clear: both;
    margin-bottom: 0;
    margin-top: 2px;
    font-size: 18px;
    font-style: italic;
    line-height: $v-rhythm / 18px;
    span.more { 			// map page only
        cursor: pointer;
        float: right;
        line-height: $v-rhythm;
        color: $brand-primary-muted1;
        text-decoration: underline;
    }
    // .more span {
    // }
}
.resto_meta_more {
    clear: both;  // ensures box always flows beneath floated "...more info"
    overflow-y: hidden;

    .meta-container {
        background-color: $brand-primary-muted2;
        border-radius: $afradius;
        text-align: center;
        padding: 10px 5px;
    }
    // overflow: auto;
    .links {
        cursor: pointer;
        color: $brand-secondary;
        .website:hover, .booknow:hover {
            text-decoration: underline;
        }
    }
}

@media (min-width: 640px) {
    h4 {
        span, .cuisine {
            font-size: inherit;
        }
        .recommended {
            font-size: 16px;
        }
    }
}
