@import '../../variables';

.resto-index {
    color: $brand-primary-muted1;
}
h4 {
    margin-bottom: 0 !important;
    margin-top: 2px;
    a {
        color: black;
    }
    .cuisine {
        font-size: 12px;
    }
}
.meta {
    display: flex;
    .recommended-container {
        height: 3em;
        img {
            height: 100%;
        }
    }
}
.scores {
    // display: flex;
    // justify-content: space-between;
    font-size: 18px;
    span {
        margin-right: 15px;
        &.feint {
            margin-right: 0;
        }
    }
    .favourite {
        width: 20px;
        /*color: $brand-primary;*/
        cursor: pointer;
        display: inline-block;
        .heart {
            max-width: 100%;
            fill: none;
            stroke: $brand-primary;
            padding: 2px;
            &.favourited {
                fill: $brand-primary;
            }
        }
    }
    .booknow {
        font-size: 16px;
    }
}

.recommended {  // 'af recommended' 'button'
    font-style: italic;
    font-weight: 400;
    color: #fff;
    // font-size: 90%;
    // background-color: $brand-primary;
    color: $brand-primary;
    border: 1px dotted $brand-primary-muted1;
    border-radius: 10px;
    padding: 4px 7px 1px 7px;
}
// string-fill {
//     font-size: 18px;
//     color: $brand-primary;
//     font-weight: normal;
//     display: inline;
//     margin-right: 20px;
// }
.comment {
    clear: both;
    margin-bottom: 0;
    margin-top: 2px;
    font-size: 18px;
    font-style: italic;
    line-height: $v-rhythm / 18px;
    span.more { 			// map page only
        cursor: pointer;
        float: right;
        line-height: $v-rhythm;
        color: $brand-primary-muted1;
        text-decoration: underline;
    }
    // .more span {
    // }
}
.resto_meta_more {
    clear: both;  // ensures box always flows beneath floated "...more info"
    overflow-y: hidden;

    .meta-container {
        background-color: $brand-primary-muted2;
        border-radius: $afradius;
        text-align: center;
        padding: 10px 5px;
    }
    // overflow: auto;
    .links {
        cursor: pointer;
        color: $brand-secondary;
        .website:hover, .booknow:hover {
            text-decoration: underline;
        }
    }
}

@media (min-width: 640px) {
    h4 {
        span, .cuisine {
            font-size: inherit;
        }
        .recommended {
            font-size: 16px;
        }
    }
}
