@import '../../variables';
#map {
    display: block;
    width: 100%;
    height: 220px;
}


@media (min-width: $screen-sm) {
    #map {
        // display: block;
        // width: 400px;
        height: 100%;
    }
}