<div class="quick-links">
  <h4>Popular searches</h4>
  <div class="row">
    <div class="col-xs-6">
      <ul>
        <li (click)='goTop5()'>Restaurant of the Month + top 5</li>
        <li (click)='quickLink({budget: true})'>Budget Restaurants</li>
        <li (click)='quickLink({midrange: true})'>Mid range</li>
        <li (click)='quickLink({finedining: true})'>Fine Dining</li>
      </ul>
    </div>
    <div class="col-xs-6">
      <ul>
        <li (click)='quickLink({cuisine: "lunch-and-brunch"})'>Lunch and Brunch</li>
        <li (click)='quickLink({cuisine: "dutch"})'>Dutch</li>
        <li (click)='quickLink({cuisine: "indonesian"})'>Indonesian</li>
        <li (click)='quickLink({cuisine: "asian"})'>Asian</li>
      </ul>
      Other popular according to google analytcs are: indian japanese italian
    </div>
  </div>

</div>

<div id="filter-map">
  <app-filters
      [filters]='filters | async' (action)='store.dispatch($event)'>
  </app-filters>

  <app-map
      [restos]='restos_list | async'
      [selectedResto]='selectedResto | async'
      [location]='currentLocation | async'
      (action)='store.dispatch($event)'></app-map>
</div>

<div *ngIf='selectedResto | async' class='selected-resto'>
  <app-resto
    [resto]='selectedResto | async'
    (action)='store.dispatch($event)'
    [@selectedResto]='"open"'></app-resto>
</div>

<div *ngIf='top5 | async'>
  <h3>restaurant of the month!</h3>
  <app-resto [resto]='rotm | async' [idx]='0' (action)='store.dispatch($event)'></app-resto>
  <app-resto-list [restos]='rotms | async' [title]='"current top 5 restaurants!"' (action)='store.dispatch($event)'></app-resto-list>
</div>

<div *ngIf='not_top5 | async'>
  <app-resto-list [restos]='restos_list | async' [title]='title | async' (action)='store.dispatch($event)'></app-resto-list>
</div>
