<div>
  <span (click)='goDam()'>Dam</span>
</div>

<div id="filter-map" [ngClass]='getClass(selectedResto | async)'>
  <app-filters
      [filters]='filters | async' (action)='store.dispatch($event)'>
      <!--[@selectedState]='isActive(selectedResto | async)'>-->
  </app-filters>

  <!--<app-map></app-map>-->
  <app-map
      [restos]='restos_list | async'
      [selectedResto]='selectedResto | async'
      [location]='currentLocation | async'
      (action)='store.dispatch($event)'></app-map>

  <div *ngIf='selectedResto | async' class='selected-resto'
      [@selectedState]='animationState'>
    <app-resto [resto]='selectedResto | async' (action)='store.dispatch($event)'></app-resto>
  </div>

</div>

<div *ngIf='top5 | async'>
  <h1>Restaurant of the Month</h1>
  <app-resto [resto]='rotm | async' [idx]='0' (action)='store.dispatch($event)'></app-resto>
  <app-resto-list [restos]='rotms | async' [title]='"Previous"' (action)='store.dispatch($event)'></app-resto-list>
</div>

<div *ngIf='not_top5 | async'>
  <app-resto-list [restos]='restos_list | async' [title]='title | async' (action)='store.dispatch($event)'></app-resto-list>
</div>
