@import '../variables';

.quick-links {
    ul {
        list-style-type: none;
        padding-left: 0;
        margin-bottom: 0;
        li {
            margin-bottom: 5px;
        }
    }
    span {
        color: $brand-secondary;
        text-decoration: underline;
        cursor: pointer;
    }
}

.af-layout {
    position: relative;
    display: flex;
    flex-direction: column;
    .rhs {
        // flex-grow: 2;
        display: block;
        width: 100%;
    }
    app-map {
        background-color: #aaa;
    }
    app-filters {
        margin-top: -3px;
        display: block;
        // margin-bottom: 19px;
    }
}
#filter-map {
    margin-top: 40px;
}

app-resto-list {
    display: block;
    margin-top: 15px;
}
app-resto {
    display: block;
    position: relative;
    margin: 0 auto;
    margin-bottom: $v-rhythm * 1.5;
    // width: 100%;
    // border: 1px solid #eee;
}

app-resto.selected-resto {
    overflow-y: hidden;
    padding-top: 2px;
}

@media (min-width: $screen-sm) {

    #filter-map {
        margin-top: 5px;
    }
    .af-layout {
        flex-direction: initial;

        .lhs {
            width: 320px;
        }
        app-filters {
            padding-top: 15px;
        }
        .rhs {
            width: 300px;
            flex-grow: 1;
        }
    }
    // #filter-map {
    //     flex-direction: initial;

    //     app-filters, .selected-resto {
    //         width: 350px;
    //         padding: 15px;
    //         // flex-grow: 1;
    //     }
    //     app-map {
    //         width: 300px;
    //         flex-grow: 1;
    //     }
    // }
}