$screen-sm: 768px;
$screen-lg: 980px;

$gray-base:              #000 !default;
$gray:                   lighten($gray-base, 33.5%) !default; 

$body-bg:               white !default;
$text-color:            $gray-base !default;

$main-sm-columns:       12;
$sidebar-sm-columns:    4;

$brand-primary:			rgb(90,48,77);    
$brand-primary-muted1:  rgb(170,148,161); 
$brand-primary-muted2:	rgb(206,194,200); 

$brand-secondary: 		rgb(66,138,71);  
$front-green:			rgb(233,233,224);

$afradius:				10px;

$v-rhythm:              20px;

.quick-links {
    ul {
        list-style-type: none;
        padding-left: 0;
        margin-bottom: 0;
        li {
            margin-bottom: 5px;
        }
    }
    span {
        color: $brand-secondary;
        text-decoration: underline;
        cursor: pointer;
    }
}

.af-layout {
    position: relative;
    display: flex;
    flex-direction: column;
    .rhs {
        display: block;
        width: 100%;
    }
    app-map {
        background-color: #aaa;
    }
    app-filters {
        margin-top: -3px;
        display: block;
    }
}
#filter-map {
    margin-top: 40px;
}

app-resto-list {
    display: block;
    margin-top: 15px;
}
app-resto {
    display: block;
    position: relative;
    margin: 0 auto;
    margin-bottom: $v-rhythm * 1.5;
}

app-resto.selected-resto {
    overflow-y: hidden;
    padding-top: 2px;
}

@media (min-width: $screen-sm) {

    #filter-map {
        margin-top: 5px;
    }
    .af-layout {
        flex-direction: initial;

        .lhs {
            width: 320px;
        }
        app-filters {
            padding-top: 15px;
        }
        .rhs {
            width: 300px;
            flex-grow: 1;
        }
    }
}