<div class="quick-links">
  <h4>Popular searches</h4>
  <div class="row">
    <div class="col-xs-6">
      <ul>
        <li><span (click)='quickLink({})'>Restaurant of the Month + top 5</span></li>
        <li><span (click)='quickLink({budget: true})'>Budget Restaurants</span></li>
        <li><span (click)='quickLink({midrange: true})'>Mid Range</span></li>
        <li><span (click)='quickLink({finedining: true})'>Fine Dining</span></li>
      </ul>
    </div>
    <div class="col-xs-6">
      <ul>
        <li><span (click)='quickLink({cuisine: "lunch-and-brunch"})'>Lunch & Brunch</span></li>
        <li><span (click)='quickLink({cuisine: "dutch"})'>Dutch</span></li>
        <li><span (click)='quickLink({cuisine: "indonesian"})'>Indonesian</span></li>
        <li><span (click)='quickLink({cuisine: "asian"})'>Asian</span></li>
      </ul>
      <!--Other popular according to google analytcs are: indian japanese italian-->
    </div>
  </div>
</div>

<div id="filter-map">
  <app-filters
      [filters]='filters | async'
      [location]='myLocation | async'
      (action)='store.dispatch($event)'>
  </app-filters>

  <app-map
      [restos]='restos_list | async'
      [selectedResto]='selectedResto | async'
      [location]='myLocation | async'
      [mapReady]='mapReady | async'
      (action)='store.dispatch($event)'></app-map>
</div>

<app-resto-list
    [restos]='restos_list | async'
    [filters]='filters | async'
    [selectedRestoIndex]='selectedResto | async'
    (action)='store.dispatch($event)'></app-resto-list>
