<div class="quick-links">
  <h4>popular searches</h4>
  <div class='af-layout'>
      <ul class='lhs'>
        <li><span (click)='quickLink({})'>Top 5 restaurants in Amsterdam</span></li>
        <li><span (click)='quickLink({budget: true})'>Top budget restaurants</span></li>
        <li><span (click)='quickLink({midrange: true})'>Top mid-range restaurants</span></li>
        <li><span (click)='quickLink({finedining: true})'>Top fine dining restaurants</span></li>
      </ul>
      <ul class='rhs'>
        <li><span (click)='quickLink({cuisine: "dutch"})'>Best Dutch restaurants</span></li>
        <li><span (click)='quickLink({cuisine: "indonesian"})'>Best Indonesian restaurants</span></li>
        <li><span (click)='quickLink({cuisine: "surinamese"})'>Best Surinamese restaurants</span></li>
        <li><span (click)='quickLink({cuisine: "asian"})'>Best Asian restaurants</span></li>
      </ul>
      <!--Other popular according to google analytcs are: indian japanese italian-->
  </div>
</div>

<div id="filter-map" class='af-layout'>
  <app-filters
      class='lhs'
      [filters]='filters | async'
      [location]='myLocation | async'
      (action)='store.dispatch($event)'>
  </app-filters>

  <app-map
      class='rhs'
      [restos]='restos_list | async'
      [selectedResto]='selectedResto | async'
      [location]='myLocation | async'
      [mapReady]='mapReady | async'
      (action)='store.dispatch($event)'></app-map>
</div>

<app-resto-list
    [restos]='restos_list | async'
    [filters]='filters | async'
    [selectedRestoIndex]='selectedResto | async'
    (action)='store.dispatch($event)'></app-resto-list>
    <!--[selectedRestoIndex]='selectedResto'-->
