@import '../variables';

.quick-links {
    ul {
        list-style-type: none;
        padding-left: 0;
        margin-bottom: 0;
        li {
            margin-bottom: 5px;
        }
    }
    span {
        color: $brand-secondary;
        text-decoration: underline;
        cursor: pointer;
    }
}

.af-layout {
    position: relative;
    display: flex;
    flex-direction: column;
    .rhs {
        display: block;
        width: 100%;
    }
    app-map {
        background-color: #aaa;
    }
    app-filters {
        margin-top: -3px;
        display: block;
    }
}
#filter-map-container {
    position: relative;
    .favourites-overlay {
        position: absolute;
        top: 20px;
        z-index: 1000;
        width: 100%;
        padding: 15px;
        border-radius: $afradius;
    }
}

#filter-map {
    margin-top: 40px;
}

app-resto-list {
    display: block;
    margin-top: 15px;
}

@media (min-width: $screen-sm) {

    #filter-map-container {
        .favourites-overlay {
            top: 50px;
            z-index: 1000;
            width: 300px;
            padding: 15px;
            left: 50%;
            -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
       }
    }
   #filter-map {
        margin-top: 5px;
    }
    .af-layout {
        flex-direction: initial;

        .lhs {
            width: 320px;
        }
        app-filters {
            padding-top: 15px;
        }
        .rhs {
            width: 300px;
            flex-grow: 1;
        }
    }
}