  <app-resto
      class='selected-resto'
      [resto]='selectedResto | async'
      (action)='action.next($event)'
      [@selectedResto]='selectedRestoState'></app-resto>

<div *ngIf='top5'>
    <h3>restaurant of the month!</h3>
    <app-resto
        [resto]='rotm' 
        (action)='action.next($event)'></app-resto>
        <!--[idx]='0'-->
    <h3>current top 5 restaurants!</h3>
    <app-resto
        *ngFor='let resto of rotms'
        [resto]='resto'
        (action)='action.next($event)'></app-resto>
</div>
        <!--[idx]='idx + 1'-->

<div *ngIf='!top5'>
    <h3 *ngIf='restos.length > 0'>{{title}}</h3>
    <h3 *ngIf='restos.length === 0'>No restaurants match your query</h3>
    <app-resto
        *ngFor='let resto of restos'
        [resto]='resto'
        (action)='action.next($event)'></app-resto>
</div>
