<div *ngIf='selectedResto' class='selected-resto'>
  <app-resto
    [resto]='selectedResto'
    (action)='store.dispatch($event)'
    [@selectedResto]='selectedRestoState'></app-resto>
</div>

<div *ngIf='top5'>
  <h3>restaurant of the month!</h3>
  <app-resto
    [resto]='rotm' [idx]='0'
    (action)='store.dispatch($event)'></app-resto>
  <h3>current top 5 restaurants!</h3>
    <app-resto
        *ngFor='let resto of rotms; let idx = index'
        [resto]='resto'
        [idx]='idx + 1'
        (action)='action.next($event)'></app-resto>
</div>

<div *ngIf='!top5'>
    <h3 *ngIf='restos.length > 0'>{{title}}</h3>
    <h3 *ngIf='restos.length == 0'>No restaurants match your query</h3>
    <app-resto
        *ngFor='let resto of restos; let idx = index'
        [resto]='resto'
        [idx]='idx'
        (action)='action.next($event)'></app-resto>
</div>
<!--
  <app-resto-list [restos]='restos_list | async' [title]='title | async' (action)='store.dispatch($event)'></app-resto-list>

<div class="resto-list">
    <app-resto
        *ngFor='let resto of restos; let idx = index'
        [resto]='resto'
        [idx]='(title == "Previous") ? idx + 1 : idx'
        (action)='action.next($event)'></app-resto>

</div>-->

<!--<app-resto
    *ngFor='let resto of restos'
    [resto]='resto'
    (action)='action.next($event)'></app-resto>-->