<div class='searchBtnContainer visible-xs'>
    <button
        class='afbutton'
        (click)='overlay=!overlay'>search criteria</button>
</div>

<div class='criteria closed' [ngClass]='{"closed": !overlay}'>

    <div class='close-by-button' *ngIf='this.location.length > 0'>
        <button class='afbutton' (click)='getClose()'>What's close?</button>
        <!--<span class='afbutton reverse visible-xs-inline' (click)='getClose()'>What's close?</span>
        <span class='afbutton hidden-xs' (click)='getClose()'>What's close?</span>-->
    </div>

    <form>
        <div class='form-group'>
            <label class=' control-label'>search by name</label>
            <div class='input-group'>
                <!--<input type='text' [(ngModel)]='filters.search' name='search' class='form-control'>-->
                <input type='text' [formControl]='searchControl' #ss name='search-form' class='form-control'>
                <span class='input-group-btn'>
                    <!--<button type='button' class='btn btn-default' (click)='setSearch("")'>⌫</button>-->
                    <button type='button' class='btn btn-default' (click)='searchControl.reset()'>⌫</button>
                </span>
            </div>
        </div>

        <div class='form-group'>
            <label class=' control-label'>search by location</label>
            <select [formControl]='locationControl' name='location' class='form-control'>
            <!--<select [(ngModel)]='filters.location' name='location' class='form-control'>-->
                <option *ngFor='let area of areas' [value]='area.key'>
                    {{area.name}}
                </option>
            </select>
        </div>

        <div class='form-group'>
            <label class=' control-label'>search by cuisine</label>
            <select [formControl]='cuisineControl' name='cuisine' class='form-control'>
            <!--<select [(ngModel)]='filters.cuisine' name='cuisine' class='form-control'>-->
                <option *ngFor='let c of cuisines' [value]='c.key'>
                    {{c.name}}
                </option>
            </select>
        </div>

        <div class='form-group'>
            <label class=' control-label'>filter by price range</label>
            <div class=''>
                <label *ngFor='let val of prices, let i = index' class='radio-inline'>
                    <span class='hidden-xs'>{{val.name}}</span>
                    <span class='visible-xs-inline'>{{'€'.repeat(i + 1)}}</span>
                    <input type='checkbox' [formControl]='priceControl[val.key]' name='{{val.key}}' />
                </label>
            </div>
        </div>

        <div class='form-group'>
            <label class='sr-only'>find me a restaurant</label>
            <!--<button class='afbutton reverse visible-xs-inline' (click)='setCriteria($event)'>find me a restaurant!</button>
            <button class='afbutton hidden-xs' (click)='setCriteria($event)'>find me a restaurant!</button>-->
            <button class='afbutton' (click)='setCriteria($event)'>find me a restaurant!</button>
            <button class='afbutton' (click)='getFavourites($event)'>Favourites</button>
        </div>
    </form>
</div>
