<div class='searchBtnContainer'>
    <button class='afbutton visible-xs' (click)='overlay=!overlay'>
        <span class="icon">🔎</span>search
    </button>

    <button class='afbutton visible-xs' (click)='getFavourites($event)'>
        <span class="icon">
            <svg class="favourite heart" viewBox="0 0 32 29.6">
            <path d="M23.6,0c-3.4,0-6.3,2.7-7.6,5.6C14.7,2.7,11.8,0,8.4,0C3.8,0,0,3.8,0,8.4c0,9.4,9.5,11.9,16,21.2
        c6.1-9.3,16-12.1,16-21.2C32,3.8,28.2,0,23.6,0z" /></svg>
        </span>
        favourites
    </button>

    <button *ngIf='this.location.length > 0' class='afbutton visible-xs' (click)='getClose()'>
        <span class="icon">◎</span>nearby
    </button>
</div>

<div class='criteria overlay closed' [ngClass]='{"closed": !overlay}'>
    <form>
        <div class='form-group'>
            <label class=' control-label'>search by name</label>
            <div class='input-group'>
                <input type='text' [formControl]='searchControl' #ss name='search-form' class='form-control'>
                <span class='input-group-btn'>
                    <!--<button type='button' class='btn btn-default' (click)='setSearch("")'>⌫</button>-->
                    <button type='button' class='btn btn-default' (click)='searchControl.reset()'>⌫</button>
                </span>
            </div>
        </div>

        <div class='form-group'>
            <label class=' control-label'>search by location</label>
            <select [formControl]='locationControl' name='location' class='form-control'>
                <option *ngFor='let area of areas' [value]='area.key'>
                    {{area.name}}
                </option>
            </select>
        </div>

        <div class='form-group'>
            <label class=' control-label'>search by cuisine</label>
            <select [formControl]='cuisineControl' name='cuisine' class='form-control'>
                <option *ngFor='let c of cuisines' [value]='c.key'>
                    {{c.name}}
                </option>
            </select>
        </div>

        <div class='form-group'>
            <label class=' control-label'>filter by price range</label>
            <div class=''>
                <label *ngFor='let val of prices, let i = index' class='radio-inline'>
                    <span class='hidden-xs'>{{val.name}}</span>
                    <span class='visible-xs-inline'>{{'€'.repeat(i + 1)}}</span>
                    <input type='checkbox' [formControl]='priceControl[val.key]' name='{{val.key}}' />
                </label>
            </div>
        </div>

        <div class='controls'>
            <label class='sr-only'>find me a restaurant</label>
            <button class='afbutton reverse' (click)='setCriteria($event)'>find me a restaurant!</button>

            <button class='afbutton hidden-xs' (click)='getFavourites($event)'>
                <span class="icon">
                    <svg class="favourite heart" viewBox="0 0 32 29.6">
                    <path d="M23.6,0c-3.4,0-6.3,2.7-7.6,5.6C14.7,2.7,11.8,0,8.4,0C3.8,0,0,3.8,0,8.4c0,9.4,9.5,11.9,16,21.2
                c6.1-9.3,16-12.1,16-21.2C32,3.8,28.2,0,23.6,0z" /></svg>
                </span>
                favourites
            </button>

            <button *ngIf='this.location.length > 0' class='afbutton hidden-xs' (click)='getClose()'>
                <span class="icon">◎</span>&nbsp;nearby
            </button>
        </div>
    </form>
</div>