$screen-sm: 640px;
$screen-lg: 980px;

//

$gray-base:              #000 !default;
$gray:                   lighten($gray-base, 33.5%) !default; // #555

$body-bg:               white !default;
$text-color:            $gray-base !default; // changed from gray-dark
// Grid settings
$main-sm-columns:       12;
$sidebar-sm-columns:    4;

// Colors
$brand-primary:			rgb(90,48,77);    // purple #5a304d
$brand-primary-muted1:  rgb(170,148,161); // mid-purple #aa94a1
$brand-primary-muted2:	rgb(206,194,200); // light-purple

$brand-secondary: 		rgb(66,138,71);   // afgreen #428a47;
$front-green:			rgb(233,233,224); // muted green for front page

$afradius:				10px;

$v-rhythm:              20px;
