@import './variables';
@import './dev';

select {
    font-size: 50px;
}

.favourites-overlay {
    position: fixed;
    bottom: 0;
    z-index: 1000;
    background-color: #aaa;
    width: 100%;
    padding: 15px;
    color: $brand-primary;
    margin-left: -15px;
}